{% extends 'layout.html' %}

{% block body %}
<fieldset>
{% if loggedIn %}
  <h2>
    WELCOME to Equus Troiae!
  </h2>
    You are logged in as {{name}}
    <br>
    The Trojan Horse is pretty awesome huh?
    <br>
    Aren't you glad you logged in!?
    <br>
<form method="POST">
    <input type="submit" label="logout" value="Log Out">
</form>

{% else %}
<h2 font color="#FF0000">You are not logged in.</h1>
<form method="POST"><input type=submit label="login" value="Log In"></form>
{% endif %}
</fieldset>
{% endblock %}
