<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {background-color: #E6FAE6;}
fieldset {background-color: #F0F0FE; width: 50%;}
form {class: "pure-form"}
</style>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<title>Equus Troiae</title>
</head>
<br>
<div style="background-color: #B0BEB0;" class="pure-menu pure-menu-open pure-menu-horizontal">
<br>
<div align="center">
<font size="8" color="#608060"><b>EQUUS TROIAE</b></font>
</div>
</br>
</div>
</br>

<body>
<div align="center">
{% block body %}
{% endblock %}
</div>
</body>

</html>
