{% extends 'layout.html' %}

{% block body %}
<fieldset>
<form method="POST">
  <h2>
    WELCOME!
  </h2>
  <h3>
    You may log in here
  </h3> 
	<font color="#FF0000">{{error}}</font><br>
    Enter your username here: 
    <br>
    <input type="text" name="uname">
    <br>
    Enter your password here:
	<br>
    <input type="password" name="pword">
    <br>
    <input type="submit" name="b" href="/" value="Log In">
</form>
<br>
<font size="2">Don't have an account? Sign up <a href="/signup">here</a>!</font>
</fieldset>


{% endblock %}
