{% extends 'layout.html' %}

{% block body %}
<fieldset>
<form method="POST">
  <h2>
    WELCOME!
  </h2>
	<font color="#FF0000">{{error}}</font>
  <h3>
    You may sign up here
  </h3>
    Enter your desired username here:
    <br>
    <input type="text" name="uname">
    <br>
    Enter your desired password here:
    <br>
    <input type="password" name="pword">
    <br>
    enter your password again:
    <br>
    <input type="text" name="pwordcheck">
    <br>
    <input type="submit" name="b" href="/login" value="Sign Up">
</form>
</fieldset>

{% endblock %}
